{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Forgot your password?</h4>
                    <p class="text-center">Please eneter your email and we will send you a link to reset your password.</p>
                </div>
                
                <div class="card-body center-form">
                    <form action="{% url 'accounts:forgot_password' %}" method="post" class="">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        
                        <div class="mb-3 my-1">
                            <label for="email">Email Address</label>
                            <input type="email" class="form-control narrow-input" name="email" placeholder="Enter your email address">
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="Send" id="btn-next-restaurant-information" class="btn btn-primary">
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <!-- load message -->
                                {% include 'includes/alerts.html' %}
                            </div>
                            
                        </div>                 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
