{% extends 'base.html' %}

{% block content %}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Reset your password</h4>
                    
                </div>
                <div class="card-body center-form">
                    <form action="{% url 'accounts:reset_password' %}" method="post" class="">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        
                        <div class="mb-3 my-1">
                            <label for="email">Password</label>
                            <input type="password" class="form-control narrow-input" name="password" placeholder="Set new password">
                        </div>

                        <div class="mb-3 my-1">
                            <label for="last_name" class="form-label mr-2">Last name</label>
                            <label for="password">Confirm password</label>
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm new password">
                        </div>

                        <div class="mb-3">
                            <input type="submit" value="Reset password" id="btn-next-restaurant-information" class="btn btn-primary">
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <!-- load message -->
                                {% include 'includes/alerts.html' %}
                            </div>
                            
                        </div>                 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
