{% extends 'base.html' %}
{% block content %}
    

<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <div>
        <h2 class="text-center mb-3 " style="font-size: 40px;">Search location</h2>
        <form class="form-inline" method="GET" action="{% url 'reservations:home' %}">
            {% csrf_token %}
            <input id="id_address" name="q" class="form-control mr-sm-2" style="width: 350px;" type="search" placeholder="Start typing city..." aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <br>
        <div class="text-center mb-3">
            {% if request.user.is_authenticated %}
                <h2 style="font-size: 40px;">... or add your offer.</h2>
                <a href="{% url 'reservations:AddApartmentView' %}" style="display: inline-block; margin-top: 10px; padding: 10px 20px; font-size: 16px; background-color: #2e2f2e; color: white; text-decoration: none; border: none; border-radius: 5px; cursor: pointer;">Click to add</a>
            {% else %}
                <h2 style="font-size: 40px;">Login to add offer</h2>
            {% endif %}
        </div>
    </div>
</div>

<div class="text-center mb-3">
    <h2 style="font-size: 20px;">Sort by Price:</h2>
    <form class="form-inline" method="GET" action="{% url 'reservations:home' %}">
        {% csrf_token %}
        <select name="sort_by_price" class="form-select mr-sm-2" style="width: 150px;">
            <option value="asc">Lowest to Highest</option>
            <option value="desc">Highest to Lowest</option>
        </select>
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Apply</button>
    </form>
</div>
<br>
<br>

<div class="album py-5 bg-body-tertiary" style="margin-top: -100px;">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for apartment in apartments %}
                <div class="col">
                    <div class="card shadow-sm">
                        {% if apartment.photos.first %}
                            <img src="{{ apartment.photos.first.image.url }}" alt="Thumbnails" class="bd-placeholder-img card-img-top equal-photo">
                        {% else %}
                            <!-- Dodaj tutaj domyślne zdjęcie, jeśli nie ma zdjęcia dla apartamentu -->
                            <img src="" alt="Thumbnails" class="bd-placeholder-img card-img-top img-fluid">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">{{ apartment.name }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'reservations:ApartmentDetailView' pk=apartment.pk %}" class="btn btn-sm btn-outline-secondary">View more</a>
                                    <span style="margin: 0 5px;"></span> <!-- Dodaj odstęp między przyciskami -->
                                    <a href="{% url 'reservations:read_opinions' apartment.id %}" class="btn btn-sm btn-outline-secondary">Read opinions</a>
                                </div>
                                <small class="text-body-secondary">{{ apartment.price }} $</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

          
    
    <footer class="text-body-secondary py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#" class="btn btn-secondary my-2 my-sm-0" type="submit">Back to top</a>
        </p>
      </div>
    </footer>
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
        </body>
    </html>
       
 
    
{% endblock %}