{% extends 'base.html' %}
{% block content %}

{% if bookings %}
<div class="container">
    <h1>Message Box</h1>
    <hr>
    <ul class="list-group">
        {% for booking in bookings %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-10">
                    {{ booking|capfirst }}.
                </div>
                <div class="col-md-2">
                    <a href="{% url 'reservations:message_view' booking_id=booking.pk %}" class="btn btn-dark">Chat</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% else %}
<div class="container">
    <h1>Your Messages</h1>
    <hr>
    <ul class="list-group">
        {% for message in messages %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-10">
                    {{ message }}
                </div>
                <div class="col-md-2">
                    <a href="{% url 'reservations:message_view' booking_id=message.booking.pk %}" class="btn btn-success">Chat</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% if not messages %}
        <p>You haven't received any messages.</p>
    {% endif %}
</div>
{% endif %}



{% endblock %}
