{% extends 'base.html' %}

{% block content %}
{% load widget_tweaks %}

<style>
    .custom-form {
    font-size: 15px; /* Możesz dostosować rozmiar, aby pasował do Twoich potrzeb */
}
</style>


<div class="container">
    <h1>Booking History</h1>
    <hr>
    {% if bookings %}
    <ul class="list-group">
        {% for booking in bookings %}
        <li class="list-group-item bg-dark">
            <div class="row">
                <div class="col-md-8"><br><br><br><br><br>
                    <p class="text-white">Reservation {{ booking.name.name }} from {{ booking.check_in|date:"d.m.Y" }} to {{ booking.check_out|date:"d.m.Y" }}.</p>
                </div>
                <div class="col-md-4">
                    {% if not booking.comment %}
                    <form method="post" class="custom-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="booking_id" value="{{ booking.id }}">
                        <button type="submit" class="btn btn-light">Add Opinion and Rate</button>
                    </form>
                    <form>
                        <div class="mb-3">
                          <label for="id_comment" class="form-label">Comment</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      
                    {% else %}
                    <p><strong>Opinion:</strong> {{ booking.comment }}</p>
                    <p><strong>Rate:</strong> {{ booking.rating }}</p>
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="alert alert-info text-center" role="alert">
        There are no bookings in the history.
    </div>
    {% endif %}
</div>
{% endblock %}
