{% extends 'base.html' %}

{% block title %}Django Calendar{% endblock %}

{% block content %}


<style>
    .calendar {
        width: 40%;
        border-collapse: collapse;
    }

    .calendar td {
        border: 5px solid #ddd;
        padding: 1px;
        text-align: center;
        vertical-align: top;
        
    }
    .date {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .reservation {
        background-color: red;
        padding: 10px;
        margin-bottom: 5px;
        color: white;
    }

    .calendar-cell {
    width: 70px;  /* Dostosuj szerokość według potrzeb */
    height: 70px;
}
</style>



    {{ calendar }}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {{ photo_form.as_p }}
        <button type="submit" class="btn btn-dark">Update</button>
    </form>
    <div class="text-center mt-3">
        <a href="{{ prev_month_url }}" class="btn btn-primary">Poprzedni miesiąc</a>
        <a href="{{ next_month_url }}" class="btn btn-primary">Następny miesiąc</a>
    </div


    
{% endblock %}