{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
    <h2 class="text-center mb-3 " style="font-size: 40px;">Edit your offer</h2>
</div>

{% if user == apartment.user %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ photo_form.as_p }}
    <button type="submit" class="btn btn-dark">Update</button>
</form>


{% else %}
<!-- Informacja dla użytkownika, że nie ma dostępu do edycji -->
<p>You do not have permission to edit this apartment.</p>
{% endif %}


{% endblock %}