{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 20vh;">
    <h2 class="text-center mb-3 " style="font-size: 40px;">Edit your offer</h2>
</div>

{% if user == apartment.user %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {{ photo_form.as_p }}
    <button type="submit" class="btn btn-dark">Update</button>
</form>

<!-- <form method="post" enctype="multipart/form-data">
    <input type="hidden" name="csrfmiddlewaretoken" value="MwNcV82icktqLNQQmWsDpywOkyLF0jkxGZZJIdipkgBPKZTjATVjzryMS4BkWZk2">
    <p>
    <label for="id_name">Name:</label>
    <input type="text" name="name" value="Joanna Sacharczuk" class="form-control narrow-input" maxlength="20" required id="id_name"> 
  </p>

  <p>
    <label for="id_description">Description:</label>
    <textarea name="description" cols="40" rows="10" class="form-control narrow-input" maxlength="1000" required id="id_description">
 </textarea>
  </p>

  <p>
    <label for="id_beds">Beds:</label>
    <input type="number" name="beds" value="1" class="form-control narrow-input" required id="id_beds"> 
  </p>
  
  <p>
    <label for="id_capacity">Capacity:</label>
    <input type="number" name="capacity" value="1" class="form-control narrow-input" required id="id_capacity">
  </p>

  
  <p>
    <label for="id_price">Price:</label>
    <input type="number" name="price" value="1" class="form-control narrow-input" required id="id_price"> 
  </p>

  
  <p>
    <label for="id_address">Address:</label>
    <input type="text" name="address" value="42 Pułku Piechoty" class="form-control narrow-input" maxlength="250" id="id_address"> 
  </p>

  
  <p>
    <label for="id_country">Country:</label>
    <input type="text" name="country" value="Polska" class="form-control narrow-input" maxlength="50" required id="id_country">
  </p>

  
  <p>
    <label for="id_city">City:</label>
    <input type="text" name="city" value="Poznan" class="form-control narrow-input" maxlength="50" required id="id_city"> 
  </p>

  
  <p>
    <label for="id_latitude">Latitude:</label>
    <input type="number" name="latitude" value="54.0" class="form-control narrow-input" step="any" id="id_latitude">
  </p>

  
  <p>
    <label for="id_longitude">Longitude:</label>
    <input type="number" name="longitude" value="22.0" class="form-control narrow-input" step="any" id="id_longitude">
  </p>

  
  <p>
    <label for="id_location">Location:</label>
    <input type="number" name="location" value="SRID=4326;POINT (22 54)" class="form-control narrow-input" geom_type="POINT" id="id_location"> 
  </p>
    <button type="submit" class="btn btn-dark">Update</button>
</form> -->


{% else %}
<!-- Informacja dla użytkownika, że nie ma dostępu do edycji -->
<p>You do not have permission to edit this apartment.</p>
{% endif %}


{% endblock %}