{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- reservations/templates/reservations/simple_map.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Map</title>
</head>
<body>
    <div id="map" style="height: 400px; width: 100%;"></div>
    <script>
        function initMap() {
            var myLatLng = {lat: -34.397, lng: 150.644};
            var map = new google.maps.Map(document.getElementById('map'), {
                center: myLatLng,
                zoom: 8
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap" async defer></script>
</body>
</html>

<form method="post" action="{% url 'reservations:calendar' %}">
    {% csrf_token %}
    {{ reservation_form.as_p }}
    <input type="submit" value="Reserve">
  </form>
{% endblock content %}