{% extends 'base.html' %}
{% block content %}


<!DOCTYPE html>
<html>
<head>
    <title>Message</title>
</head>
<body>
    <h2>Chat between {{ request.user.username|capfirst }} and {{ apartment.user.username|capfirst }}</h2>
    <p>Booking: {{ booking|capfirst }}</p>
    <div>
        {% for message in messages %}
            <p>{{ message.sender.username|capfirst }}: {{ message.content|capfirst }}</p>
            <small>Sent at: {{ message.timestamp }}</small>
        {% endfor %}
    </div>
    <form method="post">
        {% csrf_token %}
        <textarea name="content" placeholder="Type your message here..." required></textarea><br>
        <button type="submit"class="btn btn-dark" >Send</button>
    </form>
</body>
</html>





{% endblock %}