{% extends 'base.html' %}
{% block content %}
    


<h1>Opinions</h1>

<ul>
  {% for booking in bookings %}
  <li>
    <strong>Imię użytkownika:</strong> {{ booking.user.first_name }} {{ booking.user.last_name }}<br>
    <strong>Data rezerwacji:</strong> {{ booking.check_in|date:"d-m-Y" }} - {{ booking.check_out|date:"d-m-Y" }}<br>
    
    <strong>Opinia:</strong> {{ booking.comment }}<br>
    <strong>Ocena:</strong> {{ booking.rating }}
  </li>
  {% empty %}
  <li>No opinions available</li>
  {% endfor %}
</ul>


{% endblock %}