

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Timeline</title>
</head>
<body>
    <h1>Weather Timeline</h1>
    <div id="weather-data">
        <ul>
            <!-- Wyświetlanie danych o pogodzie -->
            {% for day in weather_data %}
                <li>
                    <strong>Date:</strong> {{ day.date }}, 
                    <strong>Max Temp:</strong> {{ day.temp_max }}, 
                    <strong>Min Temp:</strong> {{ day.temp_min }}, 
                    <strong>Description:</strong> {{ day.description }}
                     snowdepth: {{ day.snowdepth }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>